<div class="container">
  <div class="addTask">
    <h2><i class="fas fa-plus"></i> Add New Product</h2>
    <!-- Form  -->
    <form>
      <div class="row  justify-content-lg-center">
        <div class="col-lg-10">

          <!-- Add Title -->
          <div class="col-lg-12">
            <mat-form-field appearance="fill">
              <mat-label>Title</mat-label>
              <input matInput type="text" name="title" required>
            </mat-form-field>
          </div>
          <!-- Add Description -->
          <div class="col-lg-12">
            <mat-form-field appearance="fill">
              <mat-label>Description</mat-label>
              <textarea matInput required name="description"></textarea>
            </mat-form-field>
          </div>
          <div class="col-lg-12">
            <mat-form-field appearance="fill">
              <mat-label>Price</mat-label>
              <input matInput type="text" name="Price" required>
            </mat-form-field>
          </div>

          <div class="col-lg-12">
            <mat-form-field appearance="fill">
              <mat-label>Category</mat-label>
              <input matInput type="text" name="Category" required>
            </mat-form-field>
          </div>

          <div class="col-lg-6 fileInput">
            <label class="form-label" for="customFile">Product Picture</label>
            <input type="file" class="form-control" id="customFile" />
          </div>

          <button color="primary" type="submit" class="add" mat-raised-button><i class="fas fa-plus"></i>Add</button>
        </div>
      </div>
    </form>
  </div>
</div>
