<div class="taskDetails">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-lg-8">
        <mat-card>
          <!-- Main Task Title -->
          <h2><i class="fas fa-tasks"></i> Product Details</h2>
          <ul class="list-group">
            <!-- Product Title -->
            <li class="list-group-item">
              <strong> <i class="far fa-edit"></i> Product Name</strong>
              <span>Rollex Whatch</span>
            </li>
            <!-- Product Discription -->
            <li class="list-group-item">
              <strong><i class="fab fa-stack-exchange"></i> Discription</strong>
              <span>Some quick example text to build on the card title and make up the bulk of the card'content</span>
            </li>
            <!-- Product Price -->
            <li class="list-group-item">
              <strong> <i class="far fa-edit"></i> Product Price</strong>
              <span>150.00</span>
            </li>
            <!-- Product Category -->
            <li class="list-group-item">
              <strong> <i class="far fa-edit"></i> Product Category</strong>
              <span>Whatches</span>
            </li>
          </ul>
          <!-- Back To Home Button -->
          <div class="backButton text-center">
            <button routerLink="" mat-raised-button><i class="fas fa-undo"></i> Back To Home</button>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
